.navbar-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333; /* Background color of the button */
    color: white; /* Color of the button text */
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    z-index: 1000; /* Make sure the button appears above other content */
}

#navbar {
    display: none; /* Hide the navigation bar by default */
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333; /* Background color of the navigation bar */
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

    a:hover {
        background-color: #555;
    }
