html {
  background-color: #000000;
  color: #ffffff;
  font-family: Inter sans-serif;
  }
  .heading {
    text-align: center;
    position: fixed;
    width: 100%;
              }
  .footer {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    text-align: center;
  }
  a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }